:root {
  --fontSize1: 2rem;
  --color1: #f0ead2;
  --color1-trans: #f0ead286;
  --color2: #dde5b6;
  --color3: #adc178;
  --color4: #a98467;
  --color5: #6c584c;
  --color5-trans: #6c584cda;
  --fontFam1: "Bubblegum Sans", cursive;
  --fontFam2: "Open Sans", sans-serif;
}

html {
  font-size: calc(60% + 0.8vmin);
}

h1 {
  font-size: 2.5rem;
  font-family: var(--fontFam1);
}

h2 {
  font-size: 1.6rem;
  font-family: var(--fontFam2);
}

h3 {
  font-size: 1.3rem;
}

p {
  font-family: var(--fontFam2);
}

a {
  font-family: var(--fontFam2);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visibilityHidden {
  height: 0;
  width: 0;
  visibility: hidden;
}

body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--color5);
}

header {
  width: 100%;
  height: 10vh;
  background-color: var(--color3);
  color: var(--color1);
  font-family: var(--fontFam1);
}

.fa-utensils {
  font-size: 2.5rem;
  color: var(--color1);
  margin-right: 5%;
}

nav {
  width: 100vw;
  height: 5vh;
  font-size: 1.5rem;
  justify-content: space-around !important;
  background-color: var(--color2);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  text-decoration: none;
  color: var(--color5);
}

main {
  width: 100vw;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main h1 {
  color: var(--color5);
  background-color: var(--color1-trans);
  padding: 3%;
  border-radius: 5%;
}

.DayBox {
  width: 90%;
  height: 15%;
  background-color: var(--color5-trans);
  border-radius: 15px;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DayBox h2 {
  margin-left: 2%;
  color: var(--color1);
}

.DayBox div {
  display: flex;
  margin-right: 30%;
}

.DayBox button {
  font-size: 1.3rem;
  appearance: none;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  padding: 10%;
  color: var(--color5);
  margin-left: 25%;
  cursor: pointer;
}

.buttonSelected {
 background-color: var(--color3) !important;
}


.validateButton {
  width: 30%;
  height: 4rem;
  margin-bottom: 20%;
  font-size: 1.8rem;
  background-color: var(--color3);
  border: none;
  font-family: var(--fontFam2);
}

.popUp {
  width: 100%;
  height: 100%;
  background-color: var(--color3);
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popUpTitle {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20%;
  color: var(--color5);
}

.fa-arrow-left {
  font-size: 2.3rem;
}

.returnArrow {
  text-decoration: none;
  color: var(--color5);
  margin-right: 20%;
}

.cardContainer {
  width: 100vw;
  height: 90%;
}

.popUpCard {
  width: 80%;
  height: 20%;
  background-color: var(--color1);
  margin-bottom: 3%;
  border-radius: 2%;
  text-decoration: none;
  color: var(--color5);
  font-family: var(--fontFam2);
  text-align: center;
}

.popUpCard:hover {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.349);
}

.popUpCardSelect {
  color: var(--color3);
  font-size: 1.4rem;
}

.popUpCardSelectMonday {
  color: var(--color3);
  font-size: 1.4rem;
}

.buttons__container button {
  width: 30%;
  height: 90%;
  border: none;
  background-color: var(--color2);
  font-size: 1.7rem;
  color: var(--color5);
  font-family: var(--fontFam2);
  cursor: pointer;
}

.buttons__container {
  width: 100%;
  height: 10%;
  margin-bottom: 10%;
  justify-content: space-around !important;
}

.fa-arrow-rotate-left { 
  font-size: 2.5rem;
  color: var(--color5);
}

.fa-arrow-rotate-left:hover {
  cursor: pointer;
}